.formBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #183650;
    color: white;
    border: solid 2px #e89759;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form form{
    width: 100%;;
}

.centerP{
    text-align: center;
    padding: 0%;
    margin: 0%;
    margin-left: 0;
}

.Pstart{
    margin-left: 75px;
    text-align: start;
}

.envoyer {
    margin-top: 75px;
    margin: 10px;
    width: 20%;
  }
  .p {
    width: 80%;
    margin-left: 50px;
  }
  input {
    border-radius: 5px;
    width: 90%;
    height: 25px;
  }
